.header__ctn {
  width: 100%;
  height: 60px;
  background-color: rgba(67, 159, 240, 0.899);

}

.header__iconBar, .header__content{
  display: flex;
  height: 20px;
  font-size: 14px;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgba(30, 152, 252, 0.748); */
}

.header__iconBar--left{
  width: 25%;
  display: flex;
  justify-content: space-around;
}

.header__content{
  font-size: 20px;
  color: rgb(224, 224, 224);
  height: 40px;
}

.header__content--left{

}