.homeCtn{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 35px 0;
   /* margin-top: 2px; */
   width: 100%;
   height: 100%;
   flex-wrap: wrap;
   
}

.options {
   width: 180px;
   height: 60px;
   border: 2px solid rgb(221, 220, 220);
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(22, 80, 216, 0.748);
   color: rgb(223, 222, 222);
   z-index: 2; /* is this ok? */
   cursor: pointer;
}

.options:hover{
   
}

/* https://images.pexels.com/photos/1568607/pexels-photo-1568607.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260 */