/*******************************
implementing scss with BEM 
********************************/

.checkbox {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 20px 50px;
	&__ctn {
		margin-bottom: 10px;
		display: flex;
		width: 100%;
		align-items: center;
	}
	&__input {
		border: 0;
		padding: 0;
		width: 1px;
		height: 1px;
		margin: -1px;
		opacity: 0;
		position: absolute;
		overflow: hidden;
		&:not(:disabled) {
			&:checked {
				+ span.checkbox--fake {
					background-color: #6200eeff;
					border: none;
					&::after {
						content: "";
						opacity: 1;
						height: 5px;
						width: 10px;
						-webkit-transform-origin: left top;
						transform-origin: left top;
						border-left: 2px solid #f9f9f9;
						border-bottom: 2px solid #f9f9f9;
						left: 50%;
						top: 50%;
						border-radius: 0;
						position: absolute;
					}
				}
				&:hover {
					+ span.checkbox--fake {
						&::before {
							background-color: rgba(99, 0, 238, 0.07);
						}
					}
				}

				&:focus {
					+ span.checkbox--fake {
						&::before {
							background-color: rgba(99, 0, 238, 0.15);
						}
					}
				}
				&:active {
					+ span.checkbox--fake {
						&::before {
							background-color: rgba(99, 0, 238, 0.25);
						}
					}
				}
			}
			&:indeterminate {
				+ span.checkbox--fake {
					background-color: #6200eeff;
					border: none;
					&::after {
						content: "";
						opacity: 1;
						height: 0px;
						width: 10px;
						transform: translate(-50%) rotate(0deg);
						border-left: 2px solid #f9f9f9;
						border-bottom: 2px solid #f9f9f9;
						left: 50%;
						top: 45%;
						border-radius: 0;
						position: absolute;
					}
				}
				&:hover {
					+ span.checkbox--fake {
						background-color: #6200eeff;
						&::before {
							background-color: rgba(99, 0, 238, 0.070);
						}
					}
				}
				&:focus {
					+ span.checkbox--fake {
						background-color: #6200eeff;
						&::before {
							background-color: rgba(99, 0, 238, 0.15);
						}
					}
				}
				&:active {
					+ span.checkbox--fake {
						background-color: #6200eeff;
						&::before {
							background-color: rgba(99, 0, 238, 0.25);
						}
					}
				}
			}
			&:hover {
				+ span.checkbox--fake {
					&::before {
						opacity: 1;
						background-color: rgba(160, 160, 160, 0.15);
					}
				}
			}
			&:focus {
				+ span.checkbox--fake {
					&::before {
						opacity: 1;
						background-color: rgba(160, 160, 160, 0.25);
					}
				}
			}
			&:active {
				+ span.checkbox--fake {
					&::before {
						opacity: 1;
						background-color: rgba(160, 160, 160, 0.30);
					}
				}
			}
		}
		/* Disabled - switch off effect */
		&--disabled-off {
			+ span {
				background-color: #e9e9e9;
				border: 2px solid #a2a2a2;

				&::after {
					background: rgba(240, 240, 240, 0.988);
				}
			}
		}
		/* Disabled - switch on effect */
		&--disabled-on {
			&:checked {
				+ span {
					background-color: #a2a2a2;
					border: none;
					&::after {
						content: "";
						opacity: 1;
						height: 5px;
						width: 10px;
						-webkit-transform-origin: left top;
						transform-origin: left top;
						border-left: 2px solid #f9f9f9;
						border-bottom: 2px solid #f9f9f9;
						left: 50%;
						top: 50%;
						border-radius: 0;
						position: absolute;
					}
				}
			}
		}
	}

	&--fake {
		width: 18px;
		height: 18px;
		position: relative;
		background-color: #e9e9e9;
		border-radius: 2px;
		display: block;
		border: 2px solid grey;
		// transition: all .5s ease;

		&::after {
			content: '';
			height: 18px;
			width: 18px;
			opacity: 0;

			left: 50%;
			top: 50%;
			transform: translate(-50%) rotate(-50deg);
			position: absolute;
			// transition: all .2s ease;
		}

		&::before {
			content: '';
			height: 38px;
			width: 38px;
			opacity: 0;
			border-radius: 50%;
			z-index: 4;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
			background-color: rgba(72, 35, 219, 0.15);
		}

		&-disabled {
			background-color: rgb(176, 176, 176);
		}
	}
	&__list {
		list-style: none;
		padding: 0 25px;
		margin-top: 0;

		&--item {
			margin: 20px 0;
		}
	}
	&__option--name {
		margin-left: 20px;
		&-disabled {
			color: grey;
		}
	}
}
