/*******************************
implementing css module with BEM 
********************************/

* {
	box-sizing: border-box;
}

.textField {
	margin: 30px 0 10px 0;
}

.textField__Ctn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 280px;
	height: 56px;
	position: relative;
	margin-top: 20px;
}

/****** Input Default ******/
/***************************/

.textField__input {
	width: 280px;
	height: 56px;
	line-height: 20px;
	font-size: 16px;
	border-radius: 4px 4px 0 0;
	border: none;
	border-bottom: 1px solid rgb(179, 179, 179);
	background-color: rgb(255, 255, 255);
	padding: 16px 12px 0 12px;
	color: #000000de;
}

.textField__input:focus {
	outline: none;
	padding-top: 16px;
}

.textField__input:active{
	padding-top: 16px;
}

/******  UnderLine ******/
/************************/

.textField__input ~ .textField__underLine {
	position: absolute;
	z-index: 1;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: #6200ee;
	transform: scaleX(0);
	transition: all .15s linear;
	/* opacity: 0; */
}

.textField__input:not(.textField__input--type-disabled):focus ~ .textField__underLine {
	transform: scaleX(1);
	opacity: 1;
}
.textField__input--type-error:focus ~ .textField__underLine{
	background-color: red;
}

/******  Label ******/
/********************/

.textField__input ~ .textField__labelText {
	position: absolute;
	z-index: 1;
	top: 19px;
	left: 12px;
	font-size: 16px;
	color: #00000099;
	transition: all .15s linear;
}

.textField__labelText--top {
	position: absolute;
	z-index: 1;
	left: 12px;
	color: #00000099;
	font-size: 12px;
	padding: 0;
	top: 9px;
}

.textField__input:not(.textField__input--type-disabled):focus + .textField__labelText,
.textField__input:not(.textField__input--type-disabled):hover + .textField__labelText,
.textField__input:not(.textField__input--type-disabled):active + .textField__labelText {
	padding: 0;
	top: 9px;
	font-size: 12px;
}

.textField__input--type-required:focus + .textField__labelText{
	color: #6200ee;
}


.textField__input--type-required:focus ~ .textField__labelText--top{
	color: #6200ee;
}

/******  Disabled Input ******/
/*****************************/

.textField__input:disabled {
	background-color: rgba(182, 181, 181, 0.906);
}

.textField__input:disabled ~ .textField__labelText--disabled {
	color: rgb(240, 240, 240);
}

/****** Error Input ******/
/*************************/

.textField__input--type-error {
	height: 55px;
}

.textField__input--type-error:focus ~ .textField__errorIcon,
.textField__input--type-error:active ~ .textField__errorIcon{
	opacity: 1;
}





.textField__errorIcon {
	position: absolute;
	right: 12px;
	line-height: 24px;
	font-size: 24px;
	color: #b00020ff;
	opacity: 0;
}

/***** HelpText ******/
/**********************/

.textField__helpText {
	font-size: 12px;
	color: #00000099;
	line-height: 16px;
	align-items: flex-end;
	display: flex;
	margin-left: 12px;
	margin-top: 3px;
}

.textField__helpText--type-disabled {
	color: rgb(160, 160, 160);
}

.textField__helpText--type-error {
	color: #b00020;
	/* opacity: 1; */
}

.textField__input--type-error:focus + .textField__labelText--top-error{
	color: #b00020;
}

.textField__btn{
	width: 200px;
	margin-top: 20px;
	line-height: 30px;
	border-radius: 5px;
	font-size: 14px;
	background-color: rgba(213, 213, 247, 0.927);
	color: rgb(91, 91, 91);
}

.textField__btn:focus{
	outline: none;
    box-shadow: 0px 0px 2px 2px rgb(133, 100, 254);
}


