/* .app {
  width: 100vw;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
} */

body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";

}

.app {
  width: 360px;
  height: 714px;
  margin: 0 auto;
  position: relative;
}

.app__ctn{
  position: absolute;
  width: 280px;
  height: 480px;
  top: 20%;
  left: 40px;
}

.phoneFrame{
  width: 360px;

}


