body {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Roboto";
	background-color: black;
}

.app {
	width: 360px;
	max-width: 360px;
	height: 95vh;
	margin: 10px auto;
	position: relative;
	display: flex;
	justify-content: center;
	// overflow: hidden;

	&__ctn {
		position: absolute;
		width: 310px;
		height: 480px;
		top: 12%;
		left: 25px;
		border-radius: 5px;
		background: linear-gradient(0deg, rgba(230, 230, 230, 0.933), rgba(235, 235, 235, 0.81)),
			url("https://images.pexels.com/photos/2395251/pexels-photo-2395251.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
		background-size: cover;
		overflow: hidden;
	}
	&__componentCtn {
		width: 100%;
		height: 390px;
		display: flex;
		align-items: center;
		flex-direction: column;
		overflow: scroll;
		padding: 10px 0;
		
	}

	&__img {
		width: 100%;
		max-width: 350px;
		min-height: 450px;
		height: 100%;
		overflow: hidden;
		z-index: 1;
		pointer-events: none;
	}
}
